{% from "components/app/chip.html" import chip, chip_action with context %} 
{% from "components/app/user-field.html" import user_field, user_field_chips with context %} 
{% macro profile(user, currentRole, roleActionFn='swapRole', roleActionIcon='icons/swap.svg') %}
<div class="w-full lg:px-10 mt-2">
    <div class="bg-white rounded-xl flex flex-col w-full">
      <div class="w-64 lg:w-96 self-center">
        <div class="flex flex-col justify-between h-full w-full">
          <div class="shadow-xl flex flex-col w-full py-1 space-y-1">
            <img
              src="{{url_for('static', filename= user.get('user', {}).get('photoUrl', none) or 'images/user-placeholder.png')}}"
              class="w-full h-full md:w-44 md:h-44 m-auto px-2 md:px-0"
              alt="user profile pic"
            />
            {% for r in user.get('roles', []) %} 
              {% if currentRole == r %}
               {{chip(r, "white", True, role_colors[r])}}
              {% else %}
                {{chip(r, "white", True, role_colors[r], chip_action(r, roleActionFn, roleActionIcon))}} 
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="shadow-xl p-4 space-y-2">
        {{user_field("ID", user.get('user', {}).get('ci', ''), True if user.get('user') is not none else False)}} 
        {{user_field("1st Name", user.get('user', {}).get('name1', '')) }} 
        {{user_field("2nd Name", user.get('user', {}).get('name2', '')) }}
        {{user_field("1st Surname", user.get('user', {}).get('surname1', '')) }} 
        {{user_field("2nd Surname", user.get('user', {}).get('surname2', ''))}} 
        {{user_field("Sex", user.get('user', {}).get('sex', ''))}} 
        {{user_field("Genre", user.get('user', {}).get('genre', ''))}}
        {{user_field("Birthdate", user.get('user', {}).get('birthdate', ''))}}
        {{user_field("Email", user.get('user', {}).get('email', ''))}} 
        {{user_field("Location", user.get('user', {}).get('location', ''))}}
        {{user_field("Status", "active" if user.get('user', {}).get('active', True) else "inactive") }}
        
        {% if currentRole in ['doctor', 'medicalAssistant', 'medicalPersonnel'] %}
          {{user_field_chips('Specialties', user.get('user', {}).get('specialties', []), 'title') }}  
        {% endif %}
        {{user_field_chips('Phone Numbers', user.get('user', {}).get('phoneNumbers', []), 'phone', 'deletePhone')}}  
      </div>
      <div id="error-box" class="hidden">
        <p class="text-red-500 font-semibold"></p>
      </div>
      </p>
      <div class="mb-4 mt-4 flex justify-between w-full space-x-10">
        <button
          onclick="window.location.href=window.location.href;"
          class="
            bg-red-500
            w-full
            font-bold
            text-white text-center text-sm
            rounded-full
            py-2
          "
        >
          Cancel
        </button>
        <button
          onclick="updateUser()"
          class="
            bg-turqoise
            w-full
            font-bold
            text-white text-center text-sm
            rounded-full
            py-2
          "
        >
          Save
        </button>
      </div>
    </div>
</div>
<script type="text/javascript">

  errorBox = document.getElementById("error-box");
  errorText = errorBox.getElementsByTagName("p")[0];

  const id = "{{user.get('user', {}).get('ci', none)|safe}}"
  
  let idField = document.getElementById("ID");
  let name1Field = document.getElementById("1st Name");
  let name2Field = document.getElementById("2nd Name");
  let surname1Field = document.getElementById("1st Surname");
  let surname2Field = document.getElementById("2nd Surname");
  let sexField = document.getElementById("Sex");
  let genreField = document.getElementById("Genre");
  let birthdateField = document.getElementById("Birthdate");
  let emailField = document.getElementById("Email");
  let locationField = document.getElementById("Location");
  
</script>
{% endmacro %}