{% extends 'layouts/app-base.html' %} 
{% block title %}Users{% endblock %} 

{% block page_content %}
<div class="w-full h-full">
  <div class="h-1/5" id="filters"></div>

  <div class="h-3/5">
    <div class="overflow-x-auto lg:overflow-x-hidden">
      <div class="py-2" id="users-table-container"></div>
    </div>
    <div id="pagination-info" class="border w-full flex items-center justify-center py-1 space-x-2">

    </div>
  </div>
  <div class="w-full flex items-center justify-center mt-4">
    <button class="rounded-3xl bg-turqoise text-white font-bold w-64 h-12">
      New User
    </button>
  </div>
</div>
<script type="text/javascript">
  let tableContainer = document.getElementById("users-table-container");
  let paginationContainer = document.getElementById("pagination-info");

  const nameCell = (name, photoUrl) => `
  <td class="px-6 py-4 whitespace-nowrap">
    <div class="flex items-center">
      <div class="flex-shrink-0 h-10 w-10">
        <img
          class="h-10 w-10 rounded-full"
          src="${photoUrl || "{{url_for('static', filename='images/user-placeholder.png')}}"}"
        />
      </div>
      <div class="ml-4">
        <div class="text-sm font-medium text-gray-900">
          ${name}
        </div>
      </div>
    </div>
  </td>
  `

  tableContainer.innerHTML = generateTable(
    "users-table",
    ["Name", "ID", "Sex", "Birthdate", "Status"], []
  );

  let total = 0;
  let offset = 0;
  let limit = 3;

  const loadUsers = async(offset) => {
    if (offset < 0){
      return;
    }

    let res = await fetch(`/api/user/all?offset=${offset}&limit=${limit}`)
    let data = await res.json();
      
    if (res.status == 200){
          
      let _data = data.result;
      let rows = Array(data.length);
        
      for (let obj of _data){
        let cells = [
        nameCell(`${obj['user']['name1']} ${obj['user']['surname1']}`, obj['user']['photoUrl']),
        generateCell(obj['user']['ci']),
        generateCell(obj['user']['sex']),
        generateCell(obj['user']['birthdate'].split('T')[0]),
        generateCell(obj['user']['active'] === 1 ? 'Active' : 'Inactive')
        ]
        rows.push(generateRow(cells));
      }

      tableContainer.innerHTML = generateTable(
        "users-table",
        ["Name", "ID", "Sex", "Birthdate", "Status"],
        rows
      );
        
      return Promise.resolve('users loaded');
    }else{
        Promise.reject(res.data); //error object {error: "", extraMessage: ""}
    }
  }

  (async function(){
    await loadUsers(offset);
    total = await setPagination('user', offset, limit, paginationContainer, 'loadUsers');
    console.log(total)
  })();

</script>
{% endblock page_content %}
