{% extends 'layouts/app-base.html' %} {% block title %}Users{% endblock %} {%
block page_content %}
<div class="w-full h-full px-6">
  <div class="pt-4 relative" id="filters">
    <input type="text" id="search" placeholder="Filter by ID, Surname or Name + Surname" class="w-full bg-white rounded border border-gray-300 focus:border-turqoise focus:ring-2 focus:ring-turqoise text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" />
    <button id="search-btn" onclick="search()" class="absolute right-0 top-2 mt-3 mr-2 rounded-full px-2 py-2 hover:bg-gray-200">
      <img src="/static/icons/search.svg" width="16"/>
    </button>
  </div>
  <div class="h-3/5 pt-2">
    <div class="overflow-x-auto lg:overflow-x-hidden">
      <div class="py-2" id="users-table-container"></div>
    </div>
    <div
      id="pagination-info"
      class="border w-full flex items-center justify-center py-1 space-x-2"
    ></div>
  </div>
  <div class="w-full flex items-center justify-center mt-4">
    <button
      class="rounded-3xl bg-turqoise text-white font-bold w-64 h-12"
      onclick="window.location.href ='/app/create-user'"
    >
      New User
    </button>
  </div>
</div>
<script type="text/javascript">
  let _search = document.getElementById('search');
  let searchBtn = document.getElementById('search-btn');

  let total = 0;
  let offset = 0;
  let limit = 3;

  let tableContainer = document.getElementById("users-table-container");
  let paginationContainer = document.getElementById("pagination-info");
    
  const toggleActive = async (userId) => {

    const activeField = document.getElementById(`active-${userId}`);
    activeField.classList.remove("bg-red-100");
    activeField.classList.remove("bg-green-100");

    const active = activeField.textContent.trim() === "Active" ? 0 : 1;
    const res = await fetch(`/api/user/${userId}`, {
      method: "PUT",
      headers: {
        Accept: "application/json",
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        active: active
      })
    });

    activeField.textContent = active ? "Active" : "Inactive";
    activeField.classList.toggle(active ? "bg-green-100" : "bg-red-100");
  };

  const updateUser = (id) => {
    window.location.href = `/app/update-user/${id}`;
  }

  const deleteUser = async(id) => {
    //TODO: Ask for confirmation
    await fetch('/api/user', {
      method: "DELETE",
      headers: {
        Accept: "application/json",
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        ci: id
      })
    })

    document.getElementById(`row-${id}`).remove();

    await loadUsers(offset);
    await setPagination(
      "user",
      offset,
      limit,
      paginationContainer,
      "loadUsers"
    );
  }

  tableContainer.innerHTML = generateTable(
    "users-table",
    ["Name", "ID", "Sex", "Birthdate", "Status", "Actions"],
    []
  );

  const loadUsers = async (offset, conditions=null) => {
    if (offset < 0 && !id) {
      return;
    }
    let res;

    if(conditions){
      res = await fetch(`/api/user/all?offset=${offset}&limit=${limit}`, {
        body: JSON.stringify(conditions),
        method: "POST",
        headers: {
          Accept: "application/json",
          "Content-Type": "application/json",
        }
      });
    }else{
      res = await fetch(`/api/user/all?offset=${offset}&limit=${limit}`);
    }

    let data = await res.json();

    if (res.status == 200) {
      let _data = data.result;

      if (!Array.isArray(_data)){
        _data = Array(_data)
      }

      let rows = Array(_data.length);

      for (let obj of _data) {
        let userId = obj["user"]["ci"];

        let cells = [
          nameCell(
            `${obj["user"]["name1"]} ${obj["user"]["surname1"]}`,
            obj["user"]["photoUrl"]
          ),
          generateCell(userId),
          generateCell(obj["user"]["sex"]),
          generateCell(obj["user"]["birthdate"].split("T")[0]),
          generateActiveCell(userId, obj["user"]["active"], 'toggleActive'),
          generateActionsCell(userId, "User"),
        ];
        rows.push(generateRow(cells, userId));
      }

      tableContainer.innerHTML = generateTable(
        "users-table",
        ["Name", "ID", "Sex", "Birthdate", "Status", "Actions"],
        rows
      );

      return Promise.resolve("users loaded");
    } else {
      Promise.reject(res.data); //error object {error: "", extraMessage: ""}
    }
  };

  (async function () {
    await loadUsers(offset);
    await setPagination(
      "user",
      offset,
      limit,
      paginationContainer,
      "loadUsers",
      {}
    );
  })();

  const search = async() => {
    let value = _search.value;

    if (parseInt(value)){
      //search by id
      await loadUsers(0, {ci: parseInt(value)});
      await setPagination(
      "user",
      0,
      1,
      paginationContainer,
      "loadUsers",
      {ci: parseInt(value)}
    );
    }else{
      //search by surname1 or name1 + surname1
    }
  }

  _search.addEventListener('keyup', (e) =>{
    if (e.keyCode === 13){
      searchBtn.click();
    }
  })
</script>
{% endblock page_content %}
