{% from "components/app/chip.html" import chip with context %}
{% from "components/app/user-field.html" import user_field with context %}
{% extends 'layouts/app-base.html' %} {% block title %}Home{% endblock %}
{%block page_content %}
<div>
    <div class="bg-white rounded-xl flex flex-col">
      <div class="w-64 lg:w-96 self-center">
        <div class="flex flex-col justify-between h-full w-full">
          <div class="shadow-xl flex flex-col w-full py-1 space-y-1">
            <img
              src="https://res.cloudinary.com/dboafhu31/image/upload/v1625318266/imagen_2021-07-03_091743_vtbkf8.png"
              class="w-full h-full md:w-44 md:h-44 m-auto px-2 md:px-0"
              alt="user profile pic"
            />
            {% for r in user['roles'] %}
            {{chip(r, "white", bold, role_colors[r])}}
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="shadow-xl p-4 space-y-2">
          {{user_field("ID", user['user']['ci'], True)}}
          {{user_field("1st Name", user['user']['name1'])}}
          {{user_field("2nd Name", user['user']['name2'])}}
          {{user_field("1st Surname", user['user']['surname1'])}}
          {{user_field("2nd Surname", user['user']['surname2'])}}
          {{user_field("Sex", user['user']['sex'])}}
          {{user_field("Genre", user['user']['genre'])}}
          {{user_field("Birthdate", user['user']['birthdate'])}}
          {{user_field("Email", user['user']['email'])}}
          {{user_field("Location", user['user']['location'])}}
        <div class="flex">
          <span class="text-sm border bg-blue-50 font-bold uppercase border-2 rounded-l px-4 py-2 bg-gray-50 whitespace-no-wrap w-2/6">
            Phone Numbers
          </span>
          <div class="flex flex-wrap justify-start">
            {% for p in user['phoneNumbers'] %}
            {{chip(p.phone, "white", bold, role_colors[r])}}
            {% endfor %} 
          </div>
        </div>
      </div>
      <div class="mb-4 mt-4 flex justify-between">
        <button
          onclick="window.location.reload();"
          class="bg-red-500 w-96 font-bold text-white text-center text-sm rounded-full py-2"
        >
          Cancel
        </button>
        <button
          onclick="updateUser()"
          class="bg-turqoise w-96 font-bold text-white text-center text-sm rounded-full py-2"
        >
          Save Changes
        </button>
      </div>
    </div>
  </div>
{% endblock %}