{% extends 'layouts/app-base.html' %}

{% block title %}Users{% endblock %} 
{% block page_content %}
<div class="w-full h-full">
    <div class="h-1/4">

    </div>
  <div class="h-2/4">
    <div class="overflow-x-scroll lg:overflow-x-hidden">
        <div class="py-2">
          {% include 'components/app/users-table.html' %}
        </div>
      </div>
  </div>
  <div class="w-full flex items-center justify-center mt-4">
    <button class="rounded-3xl bg-turqoise text-white font-bold w-64 h-12">
      New User
    </button>
  </div>
</div>
<script type="text/javascript">
  tbody = document.getElementById("users-table");
</script>
{% endblock page_content %}
